@import './base.css';
@import "tailwindcss";
@tailwind utilities;

#app {
  width: 100vw;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  }